<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{- partial "head.html" . -}}
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4421097292963871"
     crossorigin="anonymous"></script>
</head>
<body class="min-h-screen">
  <div id="fluidity-theme-container">
    <header class="relative z-50">
      {{- partial "header.html" . -}}
    </header>
    <main class="flex-1 relative z-[1]">
      {{- block "main" . -}}{{- end -}}
    </main>
    <footer class="relative z-50">
      {{- partial "footer.html" . -}}
    </footer>
  </div>
</body>
</html>
